.business {
  padding: 7.2rem 0 6.2rem;

  @include mq('custom', 'max', 1024) {
    padding: 5.4rem 0 4.8rem;
  }

  @include mq('custom', 'max', 768) {
    padding: 3.5rem 0 3.6rem;
  }

  @include mq('custom', 'max', 640) {
    padding: 1.6rem 0 2.4rem;
  }

  &__title {
    margin-bottom: 5.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3.6rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.8rem;
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;

    margin-right: -0.8rem;
    margin-bottom: 4.4rem;

    @include mq('custom', 'max', 1024) {
      flex-direction: column;
      margin-bottom: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__tab {
    @extend .tab;

    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
  }

  &__contents {
    position: relative;
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    grid-auto-flow: dense;

    @include mq('custom', 'max', 1199) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
    }
  }

  &__project {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.2rem;
    min-height: 27rem;

    border-radius: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      padding: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2rem;
      min-height: 26rem;
    }

    &::before, &::after {
      content: '';

      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      width: 100%;
      height: 100%;
    }

    &::before {
      background-color: rgba(8, 8, 8, 0.3);
    }

    &::after {
      background-image: linear-gradient(90deg, rgba(8, 8, 8, 0.3) -2.86%, rgba(8, 8, 8, 0) 69.03%);
    }

    &:nth-child(3n + 1) {
      grid-row: span 2;
      min-height: 55rem;

      @include mq('custom', 'max', 1199) {
        grid-row: span 1;
        min-height: 27rem;
      }

      @include mq('custom', 'max', 640) {
        min-height: 26rem;
      }
    }

    &:nth-child(9n+3){
      grid-column: 2 / 3;

      @include mq('custom', 'max', 1199) {
        grid-column: auto;
      }
    }

    &:nth-child(9n+6){
      grid-column: 1 / 2;

      @include mq('custom', 'max', 1199) {
        grid-column: auto;
      }
    }
  }

  &__project-title {
    margin-bottom: 2rem;

    font: var(--font-heading-3);
    @extend .white-uppercase-title;

    @include mq('custom', 'max', 640) {
      font: var(--font-heading-2);
    }
  }

  &__project-text {
    font: var(--font-once-2);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(222, 222, 222, 0.6);

    @include mq('custom', 'max', 640) {
      font: var(--font-once);
    }
  }

  &__cooperation {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 1.6rem;

    @include mq('custom', 'max', 1199) {
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
    }
  }

  &__contacts {
    grid-column: span 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1.2rem;

    border-radius: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    @include mq('custom', 'max', 1199) {
      grid-column: span 1;
      width: 100%;
      height: 50rem;

      background-position: center 30%;
    }

    @include mq('custom', 'max', 768) {
      height: 30rem;
    }

    @include mq('custom', 'max', 640) {
      height: 17rem;
      border-radius: 1.2rem;
    }
  }

  &__contacts-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 3.2rem 3.2rem;
    width: 100%;
    max-width: 53.7rem;

    border-radius: 2rem;
    background-color: var(--color-base01);

    @include mq('custom', 'max', 1199) {
      display: none;
    }
  }

  &__contacts-title {
    margin-top: 1rem;
    margin-right: 2rem;

    font: var(--font-common-b2);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(8, 8, 8, 0.4);
  }

  &__contacts-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  &__contacts-phone {
    font: var(--font-heading-3);
    letter-spacing: -0.02em;
    color: var(--color-base09);
  }

  &__contacts-email {
    font: var(--font-text-t1-light-ln125);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-base09);
  }

  &__cooperation-info {
    grid-column: span 15;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include mq('custom', 'max', 1199) {
      grid-column: span 1;
      gap: 0;
    }
  }

  &__cooperation-lead {
    position: relative;
    z-index: 1;

    min-height: 43.6rem;
    padding: 5.2rem 6.4rem;

    border-radius: 2.4rem;
    border: 1px solid var(--color-base06);
    background-color: var(--color-base09);
    overflow: hidden;

    @include mq('custom', 'max', 1199) {
      min-height: auto;
      margin-bottom: 1.4rem;
    }

    @include mq('custom', 'max', 1024) {
      padding: 4rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 3rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2rem 2rem 2.4rem;
      border-radius: 1.2rem;
    }

    &::before {
      content: '';

      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;

      width: 69.6rem;
      height: 100%;

      background: url("../images/cooperation-lead-bg.svg") no-repeat center;
      background-size: contain;

      @include mq('custom', 'max', 1024) {
        display: none;
      }
    }
  }

  &__cooperation-title {
    margin-bottom: 4.6rem;

    font: var(--font-heading-3);
    @extend .white-uppercase-title;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3.2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.5rem;
    }
  }

  &__cooperation-subtitle {
    margin-bottom: 2.8rem;

    font: var(--font-common-b2);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--color-base01-alfa20);

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.5rem;
    }
  }

  &__cooperation-directions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem 3.6rem;
    max-width: 87.6rem;

    counter-reset: order;

    @include mq('custom', 'max', 1024) {
      gap: 2.5rem;
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.6rem;
    }
  }

  &__cooperation-direction {
    font: var(--font-heading-6);
    @extend .white-uppercase-title;

    &::before {
      counter-increment: order;
      content: "[" counter(order, decimal-leading-zero) "]";

      margin-right: 0.6rem;
      color: var(--color-primary);
    }
  }

  &__cooperation-features-title {
    display: none;
    margin-bottom: 1.6rem;

    font: var(--font-heading-3);
    @extend .white-uppercase-title;

    @include mq('custom', 'max', 768) {
      display: block;
    }
  }

  &__cooperation-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    counter-reset: order;

    @include mq('custom', 'max', 1024) {
      gap: 1.5rem;
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include mq('custom', 'max', 640) {
      grid-template-columns: 1fr;
      gap: 0.4rem;
    }
  }

  .features-card {
    width: auto;
    height: 100%;
    min-height: 26rem;
    background-color: var(--color-base09);

    @include mq('custom', 'max', 768) {
      min-height: 20rem;
    }

    @include mq('custom', 'max', 640) {
      min-height: 16.8rem;
    }

    img {
      @include mq('custom', 'max', 640) {
        width: 4rem;
        height: 4rem;
      }
    }

    &__title {
      font: var(--font-text-t1-reg);
    }
  }

  &__cooperation-mobile-phone, &__cooperation-mobile-email {
    display: none;
    height: 5.9rem;
    padding: 1.5rem;
    border-radius: 1.2rem;

    font: var(--font-heading-6);
    letter-spacing: -0.02em;

    @include mq('custom', 'max', 1199) {
      display: flex;
    }

    @include mq('custom', 'max', 768) {
      font: var(--font-heading-3);
    }
  }

  &__cooperation-mobile-phone {
    margin-bottom: 1.6rem;

    @include mq('custom', 'max', 768) {
      margin-bottom: 0.8rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 0.4rem;
    }
  }

  &__cooperation-mobile-email {
    margin-bottom: 4rem;
  }
}
