.single {
  min-height: 100vh;
  padding: 5.2rem 0;

  @include mq('custom', 'max', 1024) {
    padding: 4rem 0;
  }

  @include mq('custom', 'max', 768) {
    padding: 2.8rem 0;
  }

  @include mq('custom', 'max', 640) {
    padding: 1.6rem 0 2.7rem;
  }

  &__title {
    max-width: 134rem;
    margin-bottom: 5.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.2rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3.2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.3rem;
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.8rem;
    margin-bottom: 4.4rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.2rem;
      flex-direction: column;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3.1rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__tab {
    @extend .tab;

    margin-right: 0.8rem;
    margin-bottom: 0.8rem;

    @include mq('custom', 'max', 1024) {
      white-space: normal;
    }
  }

  &__tabs-contents {
    position: relative;
  }

  &__tabs-content {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr auto;
    margin-bottom: 2rem;

    @include mq('custom', 'max', 1199) {
      grid-template-columns: 1fr;
      margin-bottom: 0;
      margin-top: 2.8rem;
      order: 1;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
    }
  }

  &__content-left {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: flex-start;
    padding: 4.3rem 4.3rem 4.3rem 6.4rem;
    min-height: 35.6rem;

    border-radius: 1.6rem;
    border: 1px solid #1D1D1D;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      display: grid;
      grid-template-columns: auto 1fr;
      min-height: auto;
      padding: 3.6rem 3.4rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.8rem 2.5rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2rem 1.6rem 2.4rem;
      border-radius: 1.2rem;
    }

    &::after {
      content: '';

      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;

      height: 100%;
      width: 69.9rem;

      background: url("../images/content-bg.svg") no-repeat center;
      background-size: cover;

      @include mq('custom', 'max', 1024) {
        display: none;
      }
    }

    .single__document {
      @include mq('custom', 'max', 1024) {
        display: none;
      }
    }
  }

  &__content-icon {
    width: 7.2rem;
    height: 7.2rem;
    margin-right: 4rem;
    flex-shrink: 0;

    @include mq('custom', 'max', 1024) {
      width: 6.2rem;
      height: 6.2rem;
      margin-right: 3rem;
    }

    @include mq('custom', 'max', 768) {
      width: 5.2rem;
      height: 5.2rem;
      margin-right: 2rem;
    }

    @include mq('custom', 'max', 640) {
      width: 4.2rem;
      height: 4.2rem;
      margin-right: 0.8rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content-info {
    margin-right: 3rem;

    @include mq('custom', 'max', 1024) {
      margin-right: 0;
    }
  }

  &__content-subtitle {
    margin-bottom: 4rem;

    font: 300 2.8rem/115% var(--main-ff);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;

    @include mq('custom', 'max', 1024) {
      grid-column: 2 / 3;
      margin-bottom: 3.6rem;

      font: var(--font-heading-5);
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3.2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.8rem;
    }
  }

  &__content-problem {
    display: block;
    margin-bottom: 1.4rem;

    font: var(--font-common-b2);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--color-base01-alfa20);

    @include mq('custom', 'max', 1024) {
      grid-column: 2 / 3;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1rem;
    }
  }

  &__content-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 54rem;

    font: var(--font-text-t1-light-ln125);
    color: var(--color-base01);

    @include mq('custom', 'max', 1024) {
      grid-column: 2 / 3;
    }
  }

  &__document {
    position: relative;
    z-index: 1;

    display: none;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 27.8rem;
    padding: 1.6rem 2.2rem;
    gap: 2.4rem;
    flex-shrink: 0;

    border: 1px solid #1D1D1D;
    border-radius: 1.2rem;
    background-color: var(--color-base09);
    cursor: pointer;
    overflow: hidden;

    font: var(--font-text-t4-light-ln115);
    text-transform: uppercase;
    line-height: 125%;
    color: var(--color-base01);

    @include mq('custom', 'max', 1024) {
      display: grid;
      width: 100%;
    }

    @include mq('custom', 'max', 640) {
      padding: 1.6rem;

      &::before {
        content: '';

        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        height: 100%;
        width: 27.8rem;

        background: url("../images/content-bg.svg") no-repeat center;
        background-size: cover;
        opacity: 0.5;
      }
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: left;

      width: 100%;
      height: 1px;

      background-color: var(--color-primary);

      transition: 0.4s ease-in-out;
    }

    img {
      width: 4.8rem;
      height: 6.8rem;
      object-fit: contain;

      border-radius: 0.4rem;

      @include mq('custom', 'max', 640) {
        width: 3.5rem;
        height: 5rem;
      }
    }
  }

  &__document-text {
    max-width: 12.2rem;
  }

  &__about {
    position: relative;
    z-index: 1;

    padding: 4.3rem;
    width: 43.6rem;
    min-height: 35.6rem;

    border: 1px solid var(--color-base01-alfa10);
    border-radius: 2.4rem;
    overflow: hidden;
    background-color: var(--color-base09);


    @include mq(lg) {
      width: 100%;
      padding: 3.6rem;
    }

    @include mq(md) {
      padding: 2.6rem;
      min-height: 40rem;
    }

    @include mq(sm) {
      min-height: 18rem;
      padding: 1.6rem;
      border-radius: 1.2rem;
    }

    @include mq('custom', 'max', 640) {
      &::before {
        content: '';

        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        height: 100%;
        width: 50rem;

        background: url("../images/content-bg.svg") no-repeat center;
        background-size: cover;
        opacity: 0.5;
      }
    }
  }

  &__about-link {
    display: block;
    max-width: 29rem;

    font: var(--font-heading-6);
    @extend .white-uppercase-title;
    color: var(--color-base01-alfa30);

    @include mq(sm) {
      max-width: 16rem;
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__about-graphic-block {
    position: absolute;
    right: 1rem;
    bottom: 4rem;

    width: 27rem;
    height: 27rem;

    @include mq(sm) {
      width: 11.4rem;
      height: 11.4rem;

      right: 1.6rem;
      bottom: 1.6rem;
    }
  }

  &__about-graphic {
    width: 100%;
    height: 100%;
  }
}
