.recycling-info {
  &__features-slider {
    margin-bottom: 1.6rem;
    overflow: visible;

    counter-reset: order;

    @include mq(sm) {
      margin-bottom: 8rem;
    }

    .swiper-pagination {
      position: static;

      display: none;
      justify-content: center;
      margin-top: 1.6rem;

      @include mq(sm) {
        display: flex;
      }
    }
  }

  &__features {
    display: grid;
    gap: 1.6rem;

    @include mq('custom', 'min', '768') {
      grid-template-columns: repeat(2, 1fr);
      transform: none !important;
    }

    @include mq('custom', 'min', '1200') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq(sm) {
      display: flex;
      gap: 0;
    }
  }

  .features-card {
    width: 100%;
    height: 100%;
  }

  &__numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin-bottom: 1.6rem;

    @include mq(sm) {
      grid-template-columns: 1fr;
      gap: 0.8rem;
      margin-bottom: 0.8rem;
    }
  }

  .number-card {
    width: 100%;
    height: 100%;
  }
}
