.recycling-intro {
  @extend .intro-section;

  &__title {
    margin-bottom: 8.8rem;

    @include mq(lg) {
      margin-bottom: 7.2rem;
    }

    @include mq(md) {
      margin-bottom: 5.6rem;
    }

    @include mq(sm) {
      margin-bottom: 4rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__desc {
    @extend .intro-desc;

    margin-bottom: 4rem;
  }

  &__text {
    @extend .intro-text;

    margin-top: auto;
    margin-bottom: 4.8rem;

    @include mq(sm) {
      margin-bottom: 4rem;
    }
  }

  &__img {
    position: relative;

    border-radius: 2.4rem;
    overflow: hidden;

    @include mq(md) {
      margin-bottom: 4rem;
      max-width: 80rem;
    }

    &::before {
      content: '';

      width: 100%;
      padding-top: 88.62%;

      @include mq(sm) {
        padding-top: 88.71%;
        border-radius: 1.2rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
