extends layout/layout_no_header.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Развитие бизнеса"
  - const siteLang = "ru"

block content
  include pages/business/main.pug
