section.recycling-intro.page-section
  .site-container
    h1.recycling-intro__title.main-title
      | МЫ ЗАБОТИМСЯ ОБ&nbsp;ЭКОЛОГИИ
    .recycling-intro__wrapper.intro-wrapper
      .recycling-intro__content
        .recycling-intro__desc
          p
            | Переработка композитных отходов и вовлечение полученных материалов в новые продукты
        .recycling-intro__text
          p
            |Производство композитных стеклопластиковых материалов неизбежно связано с получением отходов в виде трубных и иных обрезков, облоя при прессовании и литье, брака, а также в перспективе – вывода из эксплуатации. Используя технологии переработки отходов целесообразно превратить отходы в сырьё для получения товарной продукции.
        ul.list
          li.list__item новая экологичная линейка продукции
          li.list__item  новый фронт для развития - полимерпесчаные композиты
      .recycling-intro__img
        +pictureLazy("recycling-intro-1.jpg", "Фото переработки")

