header.header.fix-blocks.is-fixed
  .site-container.header__row
    .header__row-block
      a.logo(href="/")
        img(src="assets/images/logo.svg" alt="Логотип компании")
    .header__row-block
      a.header__btn.button.button--outline(href="about.html")
        span О компании
        +icon-mono('about-icon')
      a.header__btn.button.button--outline(href="business.html")
        span Развитие бизнеса
        +icon-mono('about-icon')
      a.header__btn.button.button--outline(href="about.html")
        span Развитие качества SMC и BMC компаундов
        +icon-mono('about-icon')
      a.header__btn.button.button--outline(href="recycling.html")
        span Переработка композитных отходов
        +icon-mono('about-icon')
      button.header__btn.button(data-modal-heading data-path="presentation" data-modal-legend="Отправьте презентацию")
        span Отправить презентацию
      button.header__burger-button
  .header__burger
    .site-container
      button.header__burger-close
        +icon-mono("cross-icon")
      ul.header__burger-list
        li.header__burger-item
          a.header__burger-link(href="#")
            | О компании
        li.header__burger-item
          a.header__burger-link(href="#")
            | Развитие бизнеса
        li.header__burger-item
          a.header__burger-link(href="#")
            | Развитие качества SMC и BMC компаундов
        li.header__burger-item
          a.header__burger-link(href="#")
            | Переработка композитных отходов
      button.header__burger-presentation.button(data-modal-heading data-path="presentation" data-modal-legend="Отправьте презентацию")
        span Отправить презентацию
