.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 16;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);

  &.active {
    .header__burger {
      opacity: 1;
      visibility: visible;
    }
  }

  &.is-fixed {
    position: fixed;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-block {
      display: flex;
      align-items: center;
    }
  }

  &__row-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -0.8rem;
    margin-bottom: -0.8rem;

    @include mq('custom', 'max', 1024) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;

    white-space: nowrap;

    @include mq('custom', 'max', 1024) {
      display: none;
    }

    svg {
      display: none;
    }
  }

  @include mq(sm) {
    align-items: flex-end;
  }

  &__burger-button {
    position: relative;
    display: none;

    @include mq('custom', 'max', 1024) {
      display: block;
      width: 7rem;
      height: 7rem;

      border: 1px solid var(--color-base01-alfa10);
      border-radius: 50%;

      @include mq('custom', 'max', 768) {
        width: 4.8rem;
        height: 4.8rem;
      }

      &::before, &::after {
        content: '';

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 2.4rem;
        height: 1px;

        border-radius: 99.9rem;
        background-color: #fff;

        @include mq('custom', 'max', 768) {
          width: 1.6rem;
        }
      }

      &::before {
        top: 43%;
      }

      &::after {
        top: 57%;
      }
    }
  }

  &__burger {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;

    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 4rem;

    background-color: #000;
    opacity: 0;
    visibility: hidden;

    transition: 0.3s opacity, 0.3s visibility;

    .site-container {
      display: flex;
      flex-direction: column;
    }
  }

  &__burger-close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;

    border: 1px solid var(--color-base01-alfa10);
    border-radius: 50%;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__burger-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    margin-bottom: 2rem;

    font: var(--font-heading-3);
    @extend .white-uppercase-title;

    @include mq(sm) {
      font: var(--font-heading-1);
    }
  }

  &__burger-presentation {
    margin-top: auto;
  }
}
