.socials {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 0.8rem;

    @include mq(sm) {
      margin-right: 2.1rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: var(--color-base01);
    background-color: var(--color-base08);
    border-radius: 50%;
    transition: background-color var(--transition);

    &:hover {
      background-color: var(--color-base07);
    }

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

