main.page-main.main
  include about-intro
  +slider-section("Композитная продукция", composite)
  +application-section(applications, "Композитные кабельные лотки чаще востребованы на территориях с повышенной агрессивной средой в том числе кислоты, щелочи и других агрессивных химикатов, а также в условиях морского климата").about-application
  +bottom-navigation("Информация по переработке", "about.html", "include/recycling/")
